<template>
  <div class="home">
    <TheItemSelector msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import TheItemSelector from '@/components/the-item-selector.vue'

@Component({
  components: {
    TheItemSelector
  }
})

export default class Home extends Vue {}

</script>
