<template>
  <v-app id="inspire">
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Factorio Calculator App</v-toolbar-title>
              </v-toolbar>

              <v-card-text>
                <div class="text-center">
                  <v-menu offset-y>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn color="primary" dark v-bind="attrs" v-on="on">
                        Dropdown
                      </v-btn>
                    </template>
                    <v-list>
                      <!-- For some bizare reason just putting the icon url in dynamically (without require) doesn't work -->
                      <v-avatar tile v-for="(icon, index) in icons" :key="index">
                        <img
                          :src="getImgUrl(icon)"
                          alt=""
                        >
                      </v-avatar>
                    </v-list>
                  </v-menu>
                </div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class ItemSelector extends Vue {
  @Prop() dropDownIcons = ['Arial', 'Calibri', 'Courier', 'Verdana'];
  icons = ['logo.png', 'logo.png'];
  iconPath = '@assets/factorio-icons';

  getImgUrl (pic: string) {
    return require('../assets/' + pic)
  }
}
</script>
